%% == Dependencies ==
{deps, [
  {jsx,    ".*", {git, "git://github.com/ddossot/jsx.git",    {tag, "v1.4.1"}}},
  {kvc,    ".*", {git, "git://github.com/ddossot/kvc.git",    {tag, "v1.3.0"}}},
  {getopt, ".*", {git, "git://github.com/ddossot/getopt.git", {tag, "v0.7.1"}}}
]}.

%% == escriptize ==
{escript_incl_apps, [jsx, kvc, getopt]}.
{escript_comment, "%% jerg - JSON Schema to Erlang Records Generator\n"}.
